:root{
    --font-color: #ffffff;
    --body-color: linear-gradient(94.59deg, #4923B4 2.39%, #E878CF 97.66%);
    --font: 'Poppins', sans-serif;

    --list-color: #787878;
    --active-list-color: #5027B5;
    --star-color: #EBE100;
    --list-buttons-background: #EAEAEA;
    --list-buttons-color: #666768;
}