@import url(colors.css);
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    width: 100vw;
    overflow-x: hidden;
    font-family: var(--font);
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track{
    background-color: gray;
}

::-webkit-scrollbar-thumb{
    background-color: #FF00C7;
    
}

.main-container{
    width: 100%;
    background: var(--body-color);
    padding: 10px;
    color: var(--font-color);
}

/* HEADER STYLE */
header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 30px;
}

.logo{
    cursor: pointer;
}

.nav,
.reg-list{
    display: none;
}

.fa-bars{
    color: white;
    font-size: 20px;
    cursor: pointer;
}
/* END HEADER STYLE */

/* SECTION STYLE */
section{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.desc-title{
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    /* margin-bottom: 10px; */
}

.desc-content{
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 1px;
}

.buttons-divider{
    margin-top: 31px;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 15px; /* change 20 */
}

.course-button{
    width: 172px;
    height: 44px;
    border-radius: 12px;
    border: none;
    background-color: #FF00C7;
    color: var(--font-color);
    font-size: 16px;
    font-family: var(--font);
    font-weight: 600;
    letter-spacing: 1px;
    transition: all 1s ease-in-out ;
    cursor: pointer;
}

.course-button:hover{
    box-shadow: 5px 5px 20px rgba(24, 19, 19, 0.719);
}

.learn-button{
    width: 142px;
    height: 44px;
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 12px;
    background-color: transparent;
    color: var(--font-color);
    font-size: 16px;
    font-family: var(--font);
    cursor: pointer;
}

.saly-image{
    width: 100%;
}
/* END SECTION STYLE */

/* COMPANY AND PARTNERS SECTION STYLE */
.partners-section{
    margin: 42px 0 60px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px; 
    width: 100%;
}

.partners-section h1{
    font-size: 25px; 
    font-weight: bold;
    line-height: 60px;
    opacity: 0.6;
    color: #464747;
    text-align: center;
}

.company-container{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.company-container svg{
    cursor: pointer;
}
/* END COMPANY AND PARTNERS SECTION */

/* COURSES SECTION STYLE */
.courses-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.courses-section h1{
    font-size: 25px;
    font-weight: 600;
    color: black;
    text-align: center;
    letter-spacing: -0.002em;
}

.types{
    display: flex;
    flex-direction: column;
    gap: 10px;
    cursor: pointer;
}

.types li{
    font-size: 17px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    letter-spacing: -0.002em;
    color: var(--list-color);
    transition: all ease-in-out 1s;
}

.types li:hover{
    color: var(--active-list-color);
    font-weight: 600;
    border-bottom: 2px solid var(--active-list-color);
}

.course-items{
    margin-top: 50px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(277px, 1fr));
    gap: 20px;
}

/* style the items */
.item{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 12px;
    background: #FFFFFF;
    box-shadow: 0px 0px 9px rgba(153, 153, 151, 0.25);
    border-radius: 12px;
}

.item img{
    width: 100%;
}

.items-side-space{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 18px;
}

.desc-button{
    background: var(--list-buttons-background);
    border-radius: 7px;
    border: none;
    width: 155px;
    height: 32px;
    
    color: var(--list-buttons-color);
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: -0.0024em;
    margin-bottom: 13px;
}

.item-desc{
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: black;
}

.item-author{
    margin-top: 8px;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: black;
}

.stars{
    margin-top: 9px;
}

.stars i{
    color: var(--star-color);
}

.stars .rate{
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: black;
}

.price-divider{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5px;
}

.price-divider p{
    font-weight: 900;
    font-size: 20px;
    line-height: 30px;  
    color: var(--active-list-color);
}

.price-divider .buy-button{
    width: 88px;
    height: 30px;

    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: var(--active-list-color);

    border: 1px solid var(--active-list-color);
    border-radius: 6px;
}

.show-more{
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 17px;
    line-height: 26px;
    color: var(--active-list-color);
}

.show-more i{
    transition: transform 0.3s ease-in-out;
}

.show-more i:hover{
    transform: rotate(180deg);
}
/* END COURSES SECTION STYLE */

/* Features and Services section */
.services-section{
    display: flex;
    flex-direction: column;
    width: 100%; 
}

.services-desc{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 30px 20px;
}

.services-desc h1{
    font-weight: 600;
    font-size: 44px;
    line-height: 62px;  

    text-align: center;
    letter-spacing: -0.002em;
    color: black;
}

.services-desc p{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: -0.002em;
    max-width: 673px;
    color: var(--list-buttons-color);
    margin-top: 10px;
}

/* style the service items */
.services-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(277px, 1fr));
    margin: 60px 17px 90px 17px;
    gap: 15px;
}

.service-item{
    display: flex;
    flex-direction: column;
    padding: 25px;
}

.service-item h2{
    margin-top: 8px;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;

    letter-spacing: -0.002em;
    color: #000000;
}

.service-item p{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: justify;
    letter-spacing: -0.002em;
    color: var(--list-buttons-color);
}
/* END Features and Services section */

/* services description style */
.best-section{
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    width: 100%;
    padding: 15px;
}

.happy-girl{
    margin: 0 auto;
    width: 340px;
    height: 380px;
}

.best-desc{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.best-desc h2{
    font-weight: 600;
    font-size: 44px;
    line-height: 62px;

    text-align: center;
    letter-spacing: -0.002em;
    color: black;
}

.best-desc p{
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
    text-align: center;

    max-width: 555px; 
    color: var(--list-buttons-color);
}

.best-desc .best-btn{
    width: 181px;
    height: 50px;

    background: rgba(172, 133, 255, 1);
    border-radius: 12px;
    border: none;

    font-weight: 500;
    font-size: 18px;
    line-height: 27px;

    letter-spacing: -0.0024em;
    color: white;
    cursor: pointer;
}

.support-section{
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 15px;
    margin-top: 120px;
}

.support-desc{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.support-desc h2{
    font-weight: 600;
    font-size: 44px;
    line-height: 62px;
    text-align: center;
    letter-spacing: -0.002em;
    color: black;
}

.support-desc p{
    font-weight: 500;
    font-size: 20px;
    line-height: 35px;
    text-align: center;

    max-width: 555px;
    letter-spacing: -0.002em;
    color: #515151;
}

.support-desc .supp-btn{
    width: 178px;
    height: 50px;
    background: #5228B6;
    border-radius: 12px;
    border: none;

    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: -0.0024em;
    color: #FFFFFF;
}

.supp-girl{
    width: 340px;
    height: 380px;
    margin: 0 auto;
}
/* end services description style */

/* TABLET SCREEN SIZES */
@media only screen and (min-width: 550px){
    .main-container{
        padding: 20px;
        border-bottom-right-radius: 200px;
    }

    .description-block{
        margin-top: 50px;
    }

    section{
        align-items: center;
    }
}
/* END TABLET SCREEN SIZES */

/* DESKTOP SCREEN SIZE */
@media only screen and (min-width: 1024px){
    .main-section{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-bottom: 112px;
        border-bottom-right-radius: 200px;
    }

    /* header */
    header{
        padding: 38px 54px 0 60px;
    }

    .nav{
        display: flex;
    }

    .nav ul{
        display: flex;
        flex-direction: row;
        gap: 30px;
    }

    .nav li{
        cursor: pointer;
    }

    .reg-list{
        display: flex;
        gap: 30px;
    }

    .reg-list li{
        cursor: pointer;
    }

    .fa-bars{
        display: none;
    }

    /* main section */
    .desc-title{
        font-size: 60px;
        line-height: 80px;
    }

    .desc-content{
        font-size: 22px;
        line-height: 33px;
    }

    .description-block{
        display: grid;
        justify-content: end;
        gap: 10px;
    }

    .img-block{
        margin-bottom: 112px;
    }

    /* company section */
    .partners-section{
        gap: 40.22px;
    }

    .partners-section h1{
        font-size: 60px;
    }

    .company-container{
        flex-direction: row;
        gap: 80px;
    }
} 
/* END DESKTOP SCREEN SIZE */