@import url(colors.css);
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    width: 100vw;
}

.main-container{
    width: 100%;
    background: var(--body-color);
    padding: 10px;
    font-family: var(--font);
    color: var(--font-color);
}

/* HEADER STYLE */
header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 30px;
}

.logo{
    cursor: pointer;
}

.nav,
.reg-list{
    display: none;
}

.fa-bars{
    color: white;
    font-size: 20px;
    cursor: pointer;
}
/* END HEADER STYLE */

/* SECTION STYLE */
section{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.desc-title{
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    margin-bottom: 10px;
    cursor: pointer;
}

.desc-content{
    font-weight: 400;
    font-size: 18px;
    cursor: pointer;
    letter-spacing: 1px;
}

.buttons-divider{
    margin-top: 31px;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 15px; /* change 20 */
}

.course-button{
    width: 172px;
    height: 44px;
    border-radius: 12px;
    border: none;
    background-color: #FF00C7;
    color: var(--font-color);
    font-size: 16px;
    font-family: var(--font);
    font-weight: 600;
    letter-spacing: 1px;
    transition: all 1s ease-in-out ;
}

.course-button:hover{
    box-shadow: 5px 5px 20px rgba(24, 19, 19, 0.719);
}

.learn-button{
    width: 142px;
    height: 44px;
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 12px;
    background-color: transparent;
    color: var(--font-color);
    font-size: 16px;
    font-family: var(--font);
}

.saly-image{
    width: 100%;
}
/* END SECTION STYLE */

/* TABLET SCREEN SIZES */
@media only screen and (min-width: 550px){
    .main-container{
        padding: 20px;
    }

    section{
        align-items: center;
        margin-top: 10px;
    }
}
/* END TABLET SCREEN SIZES */