@import url(colors.css);
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    width: 100vw;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track{
    background-color: gray;
}

::-webkit-scrollbar-thumb{
    background-color: #FF00C7;
    
}

.main-container{
    width: 100%;
    background: var(--body-color);
    padding: 10px;
    font-family: var(--font);
    color: var(--font-color);
}

/* HEADER STYLE */
header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 30px;
}

.logo{
    cursor: pointer;
}

.nav,
.reg-list{
    display: none;
}

.fa-bars{
    color: white;
    font-size: 20px;
    cursor: pointer;
}
/* END HEADER STYLE */

/* SECTION STYLE */
section{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.desc-title{
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    /* margin-bottom: 10px; */
}

.desc-content{
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 1px;
}

.buttons-divider{
    margin-top: 31px;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 15px; /* change 20 */
}

.course-button{
    width: 172px;
    height: 44px;
    border-radius: 12px;
    border: none;
    background-color: #FF00C7;
    color: var(--font-color);
    font-size: 16px;
    font-family: var(--font);
    font-weight: 600;
    letter-spacing: 1px;
    transition: all 1s ease-in-out ;
    cursor: pointer;
}

.course-button:hover{
    box-shadow: 5px 5px 20px rgba(24, 19, 19, 0.719);
}

.learn-button{
    width: 142px;
    height: 44px;
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 12px;
    background-color: transparent;
    color: var(--font-color);
    font-size: 16px;
    font-family: var(--font);
    cursor: pointer;
}

.saly-image{
    width: 100%;
}
/* END SECTION STYLE */

/* TABLET SCREEN SIZES */
@media only screen and (min-width: 550px){
    .main-container{
        padding: 20px;
        border-bottom-right-radius: 200px;
    }

    .description-block{
        margin-top: 50px;
    }

    section{
        align-items: center;
    }
}
/* END TABLET SCREEN SIZES */

/* DESKTOP SCREEN SIZE */
@media only screen and (min-width: 1024px){
    .main-section{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-bottom: 112px;
        border-bottom-right-radius: 200px;
    }

    /* header */
    header{
        padding: 38px 54px 0 60px;
    }

    .nav{
        display: flex;
    }

    .nav ul{
        display: flex;
        flex-direction: row;
        gap: 30px;
    }

    .nav li{
        cursor: pointer;
    }

    .reg-list{
        display: flex;
        gap: 30px;
    }

    .reg-list li{
        cursor: pointer;
    }

    .fa-bars{
        display: none;
    }

    /* section */
    .desc-title{
        font-size: 60px;
        line-height: 80px;
    }

    .desc-content{
        font-size: 22px;
        line-height: 33px;
    }

    .description-block{
        display: grid;
        justify-content: end;
        gap: 10px;
    }

    .img-block{
        margin-bottom: 112px;
    }
} 
/* END DESKTOP SCREEN SIZE */